<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!--#if (UseUnsafeAllFeed) -->
    <add key="avalonia-all" value="https://nuget-feed-all.avaloniaui.net/v3/index.json" />
    <!--#else -->
    <add key="avalonia-nightly" value="https://nuget-feed-nightly.avaloniaui.net/v3/index.json" />
    <!--#endif -->
  </packageSources>
</configuration>
